/*-- scss:defaults --*/
// Base document colors
$body-bg: #fdf6faff;
$body-color: #d74ea2ff;
$link-color: #75AADB;
$navbar-bg: #1D6001;

// Code blocks
$code-block-bg-alpha: -.8;

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');