/*-- scss:defaults --*/
// Base document colors
$body-bg: #0c0c0c;
$body-color: #d4d6d5;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');